<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我要评价</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/confirm/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/confirm/css/shopping-mall-index.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/confirm/css/star-rating.css" media="all"/>
<script type="text/javascript" src="__PUBLIC__/Home/confirm/js/jQuery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/confirm/js/zhonglin.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/confirm/js/star-rating.js"></script>
<script src="__PUBLIC__/Home/js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/Home/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
.search .search-info{ width:596px; height:40px;}
.search-info input{ width:494px;}
</style>
</head>

<body>
    <!--内容开始-->
    <div class="evaluate w1200">
        <dl class="eva-info1">
            <dt><a href="#"><?php showImage($goods['logo'],'200')?></a></dt>
            <dd>
                <h3><a href="#">{$goods.goods_name}</a></h3>
                <ul>
                    <li>
                        <span>价格</span><p class="p1">¥ {$goods.goods_price} 元 × {$goods.goods_number}</p>
                    </li>
                    <li>
                        <span>配送</span><p>快递:  0.00</p>
                    </li>
                    <li>
                        <span>评价</span><p>{$score}分 (累计评价 {$grade} )</p>
                    </li>
                    <li>
                        <span>颜色分类</span><p><?php echo str_replace("br/",'&emsp;',htmlspecialchars($goods['goods_attr_str'])) ?></p>
                    </li>
                    <li>
                        <span>订单号</span><p>{$goods.order_id}</p>
                    </li>
                </ul>
            </dd>
            <div style="clear:both;"></div>
        </dl>
        <dl class="eva-info2">
            <dt>
                <p class="p1">好评率</p>
                <p class="p2">{$veryGood}%</p>
                <p class="p3">共{$evaluateCount}人评论</p>
            </dt>
            <dd>
                <p>买过的人觉得</p>
                <ul>
                    <li><a href="#">香脆可口(198)</a></li>
                    <li><a href="#">口感不错(160)</a></li>
                    <li><a href="#">分量足(84)</a></li>
                    <li><a href="#">味道不错(47)</a></li>
                    <li><a href="#">价格便宜(34)</a></li>
                    <li><a href="#">包装不错(30)</a></li>
                    <li><a href="#">吃货必备(26)</a></li>
                    <li><a href="#">送货快(14)</a></li>
                    <li><a href="#">孩子喜欢(4)</a></li>
                    <div style="clear:both;"></div>
                </ul>
            </dd>
            <div style="clear:both;"></div>
        </dl>
        <form action="" method="post">
            <input type="hidden" name="goods_id" value="{$goods.goods_id}">
            <input type="hidden" name="order_id" value="{$goods.order_id}"/>
        <div class="eva-info3">
            <div id = 'pics'></div>
            <div class="eva-if3-l f-l">
                <dl class="if3-l-dl1">
                    <dt>商品评价</dt>
                    <dd><textarea name="goods_evaluate" ></textarea></dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl class="if3-l-dl2">
                    <dt>服务评价</dt>
                    <dd><textarea name="serve_evaluate" ></textarea></dd>
                    <div style="clear:both;"></div>
                </dl>
                <dl class="if3-l-dl3">
                    <dt>晒图片</dt>
                    <dd class="imgid" >
                        <a href="JavaScript:;">
                            <img src="__PUBLIC__/Home/confirm/images/dl3-tu1.gif" />
                            <input type="file" class="img1" />
                        </a>
                        
                        <a href="JavaScript:;" id = 'addimg' >
                            <img src="__PUBLIC__/Home/confirm/images/dl3-tu2.gif" />
                        </a>
                        <p>上传图片     1/5</p>
                        <div style="clear:both;"></div>
                    </dd>
                    <div style="clear:both;"></div>
                </dl>
                <button class="eva-btn">提交评价</button>
            </div>
            <div class="eva-if3-r f-l">
                <ul>
                    <li>
                        <p class="p1"><span>*</span> 描述相符</p>
                        <!-- <form style="display:inline-block;"> -->
                            <input id="input-21e" name="desc_grade" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                        <!-- </form> -->
                    </li>
                    <li>
                        <p class="p1"><span>*</span> 卖家服务</p>
                        <!-- <form style="display:inline-block;"> -->
                            <input id="input-21e" name="serve_grade" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                        <!-- </form> -->
                    </li>
                    <li>
                        <p class="p1"><span>*</span> 物流服务</p>
                        <!-- <form style="display:inline-block;"> -->
                            <input id="input-21e" name="wuliu_grade" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                        <!-- </form> -->
                    </li>
                </ul>
                <!-- <p class="eva-fen">2分-4分为一般</p> -->
            </div>
            <div style="clear:both;"></div>
        </div>
        </form>
    </div>
    
   
</body>
</html>
<script type="text/javascript">
        
    $('#addimg').on('click',function(){
        var imghtml = '<a href="JavaScript:;"><img src="__PUBLIC__/Home/confirm/images/dl3-tu1.gif" /><input type="file" class="img1" /></a>';
        $(this).before(imghtml);
    });

    $('form').submit(function(){
        $(this).ajaxSubmit({
            type:'post',
            url:"{:U('index')}",
            dataType:"json",
            success:function(msg){
                if(msg.status == '1'){
                    layer.msg('感谢您的评价！',{icon:1});
                    setTimeout(function(){
                         window.parent.location.reload();
                    },1000);
                }else{
                    layer.msg('系统暂忙',{icon:2});
                }
            }
        });
        return false;
    });
</script>