<layout name="public/layout"/>
<div class="w1200">
	<!--面包屑-->
	<div class="top_nv">
		<span><a href="{:U('Index/index')}">首页</a></span>
		  <span>></span>
		<volist name='position' id='vo'>
		<?php if($vo['cat_id'] == I('get.cat_id')):?>
		  <span><a href="javascript:void(0);">{$vo.cat_name}</a></span>
		<?php else:?>
		  <span><a href="{:U('search','cat_id='.$vo['cat_id'])}">{$vo.cat_name}</a></span>
		  <span>></span>
		<?php endif;?>
		</volist>
	</div>
	<!--面包屑-->
	<div class="box_list">
		<div class="sl_list">
			<ul>
				<volist name='goods["goods"]' id='vo' empty='该分类暂无商品！' >
				<li>
					<a href="{:U('Goods/goods','goods_id='.$vo['goods_id'])}" target="black" >
						<span class="list_img"><?php showImage($vo['logo'])?></span>
						<span class="sl_list_con">
							<span class="sl_price">
								<b class="sl_price1"><span>¥{$vo.shop_price} </span></b>
								<b class="sl_price2"><s>¥{$vo.market_price} </s></b>
							</span>
						</span>
						<span class="sl_title">{$vo.goods_name}</span>
					</a>
				</li>
				</volist>
			</ul>
		</div>
	</div>
    <!--分页-->
    <div class="page_list">
      	<div class="page_r pages"> 
       		{$goods['pagestr']}
       	</div>
    </div>
    <!--分页end-->
</div>