<extend name="public:viewjc"/>

<block name="order_status"><div class="order_Status os_oredr"></div></block>
<block name="content">
<div class="public_b">
	<form action="" method="post" id="order_form" >
		<div class="w1200">
			<div class="h2">确认订单信息</div>
			<!--地址选择-->
			<div class="o_o_content">
				<h2 class="part_h2">
					1 地址选择
					<span class="addr_errtips">
						<i class="icon_err"></i>
						<!-- 您好！此地址不在该商品配送区域范围内，请选择其他收货地址！ -->
					</span>
				</h2>
				<div class="addr_list" id="addr_list">
					<ul>
						<li class="addr_new">
							<div class="btn_new_addr" nc_type="addr" id="add_addr"><a href="{:U('Center/newaddr')}">添加新地址</a></div>
						</li>
						<volist name="addrpath" id="vo">
						<li class="addr_new">
							<div nc_type="addr">
								<input type="radio" name="addr_id" value="{$vo.id}"> {$vo.true_name}&emsp;{$vo.province}-{$vo.city}-{$vo.town}-{$vo.address}&emsp;{$vo.tel_phone}
							</div>
						</li>
						</volist>
					</ul>
				</div>
				<!--支付方式-->
				<div class="o_o_part o_o_part2">
					<h2 class="part_h2">2 支付方式</h2>
					<div class="pay_type">
						<ul>
							<li class="on" payment_code="online">
								在线支付<b></b>
							</li>
							<li payment_code="offline">
								货到付款<b></b>
							</li>
						</ul>
					</div>
				</div>
				<!--支付方式-->
				<!--商品-->
				<div class="o_o_part o_o_part3">
					<h2 class="part_h2">3&nbsp;商品清单<a class="a_return_car" href="{:U('Cart/cartList')}"> &lt; 返回购物车</a></h2>
					<div class="oder_shop">
						<!--shoptitle-->
						<div class="shop_tit">
							<div class="cart_checkbox">
								<span>商品名称</span>
							</div>
							<div class="column cart_standard">规格</div>
							<div class="column t_price">单价(元)</div>
							<div class="column t_quantity">数量</div>
							<div class="column t_sum">小计(元)</div>
						</div>
						<!--shoptitle-->
						<!--shoplist-->
						<?php $rental = 0;?>
						<volist name='arr' id="vo">
						<div class="item_list">
							<div class="item_form">
								<div class="cell p_checkbox"></div>
								<div class="cell p_goods">
									<div class="goods_item">
										<div class="p_imgs">
											<a target="_blank" href="">
												<img src="{:C('IMG_URL')}{$vo['sm_logo']}" width="60" alt="{$vo.goods_name}">
											</a>
										</div>
										<div class="item_msg">
											<div class="p_border_bottom">
												<div class="p_name">
													<a target="_blank" href="">{$vo.goods_name}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="cell p_standard">
									<p class="p_g_standard p_border_bottom"></p>
								</div>
								<div class="cell p_price p_border_bottom">
									<p class="p_prices2">{$vo.price}元</p>
								</div>
								<div class="cell p_quantity">
									<div class="quantity_form p_border_bottom">x{$vo.goods_number}</div>
								</div>
								<div class="cell p_sum p_border_bottom">
									<strong><?php echo $te = $vo['price']*$vo['goods_number']; $rental=$rental+$te?>元</strong>
								</div>
							</div>
						</div>
						</volist>
						<!--shoplist-->
						<!--优惠卷-->
						<div class="border_b">
							<div class="user_jf_yhj">
								<div class="user_jf_yhj_t">
									<b>-</b>使用积分和优惠券
								</div>
							</div>
							<div class="use_jf_yhj_c">
								<div class="order_items">
									<div class="yhj_show">使用优惠券：</div>
									<select name="">
                                        <option value="0">----不使用----</option>
                                        <option value="5285942">5(188元新人套券-5元)</option>
                                        <option value="5285943">10(188元新人套券-10元)</option>
                                        <option value="5285944">20(188元新人套券-20元)</option>
                                   </select>
								</div>
							</div>
						</div>
						<!--优惠卷-->
						<!--结算-->
						<div class="yhxx_box">
							<ul class="yhxx_list">
								<li>
									<div class="yhxx_tit">商品总额<span class="yhxx_money">￥<span>{$rental}元</span> </span>
									</div>
								</li>
								<me id="paypromotion"></me>
								<me id="paypromotion_info"></me>
								<li>
									<div class="yhxx_tit">优惠券<span class="yhxx_money"><span class="s_jian">-</span>￥<span id="voucher_price">0</span> </span>
									</div>
								</li>
								<li class="margin_top10">
									<div class="yhxx_tit">本单应付 <span class="yhxx_money">￥<span class="s_sum s_order_money">{$rental}元</span> </span>
									</div>
								</li>
							</ul>
						</div>
						<!--结算-->
						<!--发票-->
						<div class="ask_bill">
							<p>
								<label class="lab_bill">
                                    <input name="" value="1" checked="" type="checkbox">
                                    <span>索要发票</span>
                               </label>
							</p>
							<ul class="ask_bill_ul">
								<li fapiao_type="电子发票" class="on">电子发票<b></b></li>
								<li fapiao_type="普通发票">普通发票<b></b></li>
							</ul>
							<p class="bill_c">
								发票抬头：
								<label class="lab_bill p_r_30">
                                    <input name="" value="1" checked="checked" type="radio"><span>个人</span>
                                </label>
								<label class="lab_bill">
                                    <input name="" value="2" type="radio"><span>单位</span>
                                </label>
							</p>
							<div class="bill_c bill_unit" style="display:none;">
								<p>
									<span class="bill_c_name">单位名称：  </span>
									<input class="bill_itxt" name="" type="text">
								</p>
								<p class="bill_tips">温馨提示：您填写的内容将被系统自动打印到发票上，请勿填写发票抬头无关的信息.</p>
							</div>
						</div>
						<!--发票-->
						<div class="btnsure_bg">
							<div class="sureorder">
								<div class="jine">应付总额：<span class="fwxh_30">￥</span><span class="span_m s_order_money">{$rental}元</span></div>
								<a class="un_btn_sure" id="btn_sure" href="javascript:void(0);">提交订单</a>
							</div>
						</div>
					</div>
				</div>
				<!--商品-->
			</div>
			<!--地址选择end-->
		</div>
	</form>
</div>
<script type="text/javascript">

//ajax提交订单
$('#btn_sure').click(function(){
	var order_data=$('#order_form').serialize();
	$.ajax({
		type:"post",
		url:"{:U('Order/xiaOrder')}",
		data:order_data,
		dataType:"json",
		success:function(data){
			if(data.ok==1){
				//alert('订单提交成功');
				layer.alert('订单提交成功，正在前往支付', {
					  skin: 'layui-layer-molv', //样式类名
					  closeBtn: 0
						});
				
				setTimeout(function(){
					location.href="{:U('orderSucceed','',false)}/order/"+data.orderID;
				},1000);
				
			}else{
				//alert(data.error);
				$('#tishi').html('!'+data.error);
				$('#tishi').fadeIn(1000);
				$('#tishi').fadeOut(3000)
			 
			}
		}
	});
});
</script>
</block>
