<layout name="Index/header_footer" />
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th width="3%">ID</th>
            <th width="10%">订单号</th>
            <th width="10%">下单时间</th>
            <th width="15%">会员</th>
            
            <th width="5%">订单金额</th>
            <th width="3%">订单状态</th>
            <th>收货地址</th>
            
            <th width="10%">操作</th>
        </tr>
        
        <?php foreach($data as $k=>$v):?>
        <tr>
            <td align="center">{$k+1}</td>
            <td align="center">{$v.id}</td>
            <td><?php echo date('Y-m-d H:i:s',$v['addtime'])?></td>
            <td>{$v.email}</td>
            
            <td align="center">{$v.total_price}</td>
            <td align="center">
            	<?php if($v['post_status']==0):?>
            		待支付
            	<?php elseif($v['post_status']==1) :?>
            		待发货
            	<?php elseif($v['post_status']==2):?>
            		待收货
                <?php elseif($v['post_status']==3):?>
                    待评价
                <?php elseif($v['post_status']==-1):?>
                    已过期
            	<?php else:?>
            		已完成
            	<?php endif;?>
            </td>
            <td align="center">收货人：{$v.true_name}&emsp;电话：{$v.tel_phone}&emsp;{$v.province}{$v.city}{$v.town}{$v.address}</td>
            <td align="center">
            
            <a href="{:U('delive','orderid='.$v['id'])}">订单详情</a>
            
            </td>
        </tr>
        <?php endforeach;?>
    </table>
</div>